body {height: 100%}

/*HEADER.*/
header.cabecalho {background: #232323; padding: 10px; height: 60px; position: fixed; z-index: 99}
header.cabecalho > p a {float: left; line-height: 37px;margin-left: 51px;font-size: 25px;color: #08bdb6; text-decoration: none}
header.cabecalho nav.menu-perfil ul {list-style: none; line-height: 38px; float: right; margin-right: 50px;}
header.cabecalho nav.menu-perfil ul li {position: relative}
header.cabecalho nav.menu-perfil ul li a {color: #fff; text-decoration: none; margin-left: 10px}
header.cabecalho nav.menu-perfil ul li i.fa-user {color: #fff;}
header.cabecalho nav.menu-perfil ul li ul.sub-perfil {position: absolute; top: 50; background: #232323; width: 100px; display: none}
header.cabecalho .botao-open {width: 27px; height: 0px; margin-left: 5px; color: #ccc; cursor: pointer}

/*MENU LATERAL.*/
nav.menu-lateral {padding: 10px; height: 100%; background: #232323; border-top: 1px solid #ccc; position: fixed; top: 60px; z-index: 99}
nav.menu-lateral ul {list-style: none;}
nav.menu-lateral ul li.img-perfil {text-align: center;}
nav.menu-lateral ul li {border-bottom: 1px solid #ccc;}
nav.menu-lateral ul li a:hover {background: #0dada6}
nav.menu-lateral ul li i {float: right; line-height: 21px}
nav.menu-lateral ul li img {border-radius: 50%; border: 2px solid #ccc; margin-bottom: 10px;}
nav.menu-lateral ul li a {color: #ccc; text-decoration: none; display: block; cursor: pointer; padding: 10px}
nav.menu-lateral ul.sub-lateral {display: none; background: #232323; padding: 5px}
nav.menu-lateral ul.sub-lateral li {border-bottom: none; text-align: left; margin-left: 20px}

/*PRINCIPAL.*/
main {padding: 15px; margin-top: 60px; float: right; background: #efe9e9;}
main section.admin {margin-bottom: 20px; background: #fff; padding: 10px; border-radius: 10px}
main section.admin h1 {color: #9c9999; font-size: 32px; font-weight: normal; margin-bottom: 15px}
main section.admin article {background: #000; color: #ccc; padding: 10px; margin-bottom: 10px; margin-right: 10px; border-radius: 10px}
main section.admin article p {font-size: 24px; margin-top: 6px}
main section.admin i {float: left; margin-right: 10px}
main section.artigos {border-radius: 10px; padding: 10px; background: #fff}
main section.artigos span.titulo {width: 100%; float: left; margin-bottom: 20px; font-size: 25px; color: #888;}
main section.artigos .bloco-conteudo {padding: 5px; margin-bottom: 20px; font-size: 12px;  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1); height: 78px}
main section.artigos .bloco-conteudo h1 a {color: #333333; text-decoration: none}
main section.artigos .bloco-conteudo h1 {margin-bottom: 10px}
main section.artigos .bloco-conteudo ul.acoes {list-style: none; text-align: center}
main section.artigos .bloco-conteudo ul.acoes li {display: inline-block; margin-right: 15px}
main section.artigos .bloco-conteudo ul.acoes li a i {color: #666}
main section.artigos .bloco-with {width: 48%}

/*FORM.*/
main section.estilo-form {padding: 10px; background: #fff; border-radius: 10px;}
main section.estilo-form h1 {color: #9c9999; margin-bottom: 20px; font-weight: normal}
main section.estilo-form label {display: block; font-weight: bold; font-size: 17px; color: #5a5656; margin-bottom: 10px;}
main section.estilo-form input, main section.estilo-form select {width: 100%; border: 2px solid #ccc; border-radius: 5px; margin-bottom: 10px; height: 30px; padding-left: 5px; color: #666;}
main section.estilo-form input[type="submit"] {width: auto; padding: 5px; float: right; margin-left: 10px; margin-top: 10px; cursor: pointer; color: #fff;}

/*FOOTER.*/
footer {background: #232323; height: 50px; float: right !important; position: absolute; bottom: -50px; left: 0px}
footer .feito p, footer .direitos p {color: #9c9999; line-height: 50px; margin-left: 20px}

/*TABELA.*/
table thead {background: #232323; color: #ccc;}
table thead tr th {padding: 5px; border: none;}
table tbody tr td {padding: 10px;}
table tbody tr.row-cat {background: #edeaea; cursor: pointer;}
table tbody a {color: #666; margin-right: 10px;}

/*GALERIA.*/
.estilo-form .galeria-imgs {margin-top: 50px; position: relative}
.estilo-form .galeria-imgs a i.del {background: #000;padding: 10px;color: red; position: relative; top: -173;}

/*PAGINAÇÃO.*/
.paginator {float: left; background: #373737; margin-top: 30px}
.paginator a {color: #fff; font-size: 25px; padding: 0 10px; text-decoration: none}
.paginator a:hover {background: #289dcc;}
.paginator a.atv {color: #373737; background: #289dcc}